{% extends "base.html" %}

{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>
    .mdx-container {
        background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 1123 258' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'><g transform='matrix(-1.01432,0,0,0.388868,1134.41,161.501)'><path d='M1124,2L1124,258L-1,258L-1,210C-1,210 15,215 54,215C170,215 251,123 379,123C500,123 493,169 633,169C773,169 847,2 1205,3L1124,2Z' style='fill:rgb(250, 250, 250);fill-rule:nonzero;'/></g></svg>")
                no-repeat bottom,
            linear-gradient(to bottom, rgb(255 255 255/.8), #00C2CE 99%, var(--md-default-bg-color) 99%);
        background-size: contain;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
    [data-md-color-scheme="slate"] .mdx-container {
        background: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 1123 258' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'><g transform='matrix(-1.01432,0,0,0.388868,1134.41,161.501)'><path d='M1124,2L1124,258L-1,258L-1,210C-1,210 15,215 54,215C170,215 251,123 379,123C500,123 493,169 633,169C773,169 847,2 1205,3L1124,2Z' style='fill:rgb(26, 26, 27);fill-rule:nonzero;'/></g></svg>")
                no-repeat bottom, rgba(9, 9, 9, 0.95);
            background-size: contain;
    }

    .mdx-hero {
        color: var(--hb-hero-color);
        margin: 0 0.8rem 10rem;
    }
    .mdx-hero h1 {
        color: currentcolor;
        margin-bottom: 1rem;
        font-size: 2.6rem;
    }
    @media screen and (max-width: 29.9375em) {
        .mdx-hero h1 {
            font-size: 1.4rem;
        }
    }
    /* .mdx-hero__content {
        padding-bottom: 6rem;
    } */
    @media screen and (min-width: 60em) {
        .mdx-hero {
            align-items: stretch;
            display: flex;
        }
        .mdx-hero__content {
            margin-top: 3.5rem;
            /* max-width: 80%; */
            padding-bottom: 14vw;
            flex: 1;
        }
    }
    .mdx-hero .md-button {
        color: var(--hb-hero-color);
        border-color: var(--hb-hero-color);
    }
    [data-md-color-scheme="slate"] .mdx-hero .md-button--primary {
        color: var(--md-primary-fg-color);
    }
    .mdx-hero .md-button--primary {
        color: var(--md-primary-fg-color);
        background-color: var(--hb-hero-color);
        border-color: transparent;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .md-main .md-button--primary {
        color: var(--md-primary-fg-color);
        background-color: var(--hb-hero-color);
        border-color: transparent;
    }

    nav[class="md-tabs"] {
        border-bottom: none;
    }
  </style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <h1>Learn the dark arts of market making</h1>
          <iframe style="width:100%; height:100%; min-height:400px;" src="https://www.youtube.com/embed/ZhjR0-_ljgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3>Botcamp teaches you the art and science of quantitative market making, using the open source Hummingbot platform</h3>

          <br />

          <p class="centered">
            <a href="#plans-pricing" class="md-button md-button--primary">
              See Plans & Pricing
            </a>    
            <a href="/botcamp/faq" class="md-button">
              Frequently Asked Questions
            </a>
          </p>  
        </div>
    </div>
    </div>
  </section>
{% endblock %}
