# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Project info
site_name: Hummingbot Docs
site_description: The official documentation for Hummingbot
site_author: Hummingbot Foundation
site_url: https://docs.hummingbot.org

# Repository
repo_name: 'hummingbot/hummingbot'
repo_url: 'https://github.com/hummingbot/hummingbot'
edit_uri: 'https://github.com/hummingbot/hummingbot-site/blob/master/'

# Copyright
copyright: Copyright &copy; 2022 Hummingbot Foundation

# Configuration
theme:
  name: material
  logo: assets/img/logo.png
  favicon: assets/img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: cyan
      accent: purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: purple
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
      text: Roboto
      code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top

plugins:
  - search
  - git-revision-date
  - social:
      cards_color:
        fill: rgb(40, 47, 56)
        text: white

extra:
  homepage: https://docs.hummingbot.org
  generator: false
  analytics:
    provider: google
    property: UA-119262087-3
  social:
    - icon: fontawesome/solid/envelope
      link: https://hummingbot.substack.com
    - icon: fontawesome/brands/discord
      link: https://discord.gg/hummingbot
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hummingbot_org
    - icon: fontawesome/brands/github
      link: https://github.com/hummingbot/hummingbot
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/hummingbot/hummingbot

extra_css:
  - assets/css/custom.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - assets/js/tables.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - assets/js/config.js
  # - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      user: hummingbot
      repo: hummingbot
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true

# Navigation
nav:
  - Docs:
    - Docs: index.md
    - Installation:
      - Installation: installation/index.md
      - Docker: installation/docker.md
      - Source: installation/source.md
      - Raspberry Pi: installation/raspberry-pi.md
      - Run in the Cloud: installation/cloud-servers.md
      - Run Multiple Bots: installation/multiple-bots.md
      - Update and Restore Hummingbot: installation/update-hummingbot.md
    - Basic Operations:
      - Basic Operations: operation/index.md
      - User Interface Guide: operation/user-interface.md
      - Commands and Shortcuts: operation/commands-shortcuts.md
      - Launch/Exit Hummingbot: operation/launch-exit.md
      - Create/Delete Password: operation/password.md
      - Connect Exchange API Keys: operation/connect.md
      - Create/Import Config Files: operation/config-files.md
      - Check Balances: operation/balance.md
      - Start/Stop Strategy: operation/start-stop.md
      - Pause/Resume Strategy: operation/pause-resume.md
      - Check Bot/Market Status: operation/status.md
      - Check Performance: operation/history.md
      - Find Log Files: operation/log-files.md
      - Export Trades/Keys: operation/export.md
    - Strategies:
      - Strategies: strategies/index.md
      - AMM Arbitrage: strategies/amm-arbitrage.md
      - Arbitrage: strategies/arbitrage.md
      - Aroon Oscillator: strategies/aroon-oscillator.md
      - Avellaneda Market Making: strategies/avellaneda-market-making.md
      - Cross-Exchange Market Making: strategies/cross-exchange-market-making.md
      - Fixed Grid: strategies/fixed-grid.md
      - Hedge: strategies/hedge.md
      - Liquidity Mining: strategies/liquidity-mining.md
      - Perpetual Market Making: strategies/perpetual-market-making.md
      - Pure Market Making: strategies/pure-market-making.md
      - Spot Perpetual Arbitrage: strategies/spot-perpetual-arbitrage.md
      - TWAP: strategies/twap.md
      - Uniswap v3 LP: strategies/uniswap-v3-lp.md
      - Strategy Doc Template: strategies/strategy-template.md
    - Scripts:
      - Scripts: scripts/index.md
      - Getting Started: scripts/getting-started.md
      - Script Examples: scripts/examples.md
      - PMM Scripts: scripts/pmm-scripts.md
    - Exchange Connectors:
      - Exchange Connectors: exchanges/index.md
      - Spot Markets:
        - Spot Markets: exchanges/spot/index.md        
        - AscendEX: exchanges/ascend-ex.md
        - Binance: exchanges/binance.md
        - Bybit: exchanges/bybit.md
        - Gate.io: exchanges/gate-io.md
        - HitBTC: exchanges/hitbtc.md
        - Huobi Global: exchanges/huobi.md
        - KuCoin: exchanges/kucoin.md
        - OKX: exchanges/okx.md
        - AltMarkets: exchanges/altmarkets.md
        - Beaxy: exchanges/beaxy.md
        - Binance US: exchanges/binance-us.md
        - Bitfinex: exchanges/bitfinex.md
        - BitMart: exchanges/bitmart.md
        - Bitmex: exchanges/bitmex.md
        - Bittrex Global: exchanges/bittrex.md
        - BTC Markets: exchanges/btc-markets.md
        - Blocktane: exchanges/blocktane.md
        - Coinbase Pro: exchanges/coinbase.md
        - CoinFLEX: exchanges/coinflex.md
        - CoinZoom: exchanges/coinzoom.md
        - Crypto.com : exchanges/crypto-com.md
        - Digifinex: exchanges/digifinex.md
        - Eve: exchanges/eve-exchange.md
        - Himalaya: exchanges/himalaya.md
        - Kraken: exchanges/kraken.md
        - Latoken: exchanges/latoken.md
        - Liquid: exchanges/liquid.md
        - LBank: exchanges/lbank.md
        - Loopring: exchanges/loopring.md
        - MEXC: exchanges/mexc.md 
        - NDAX: exchanges/ndax.md
        - ProBit Global: exchanges/probit.md
        - ProBit Korea: exchanges/probit-korea.md
        - WazirX: exchanges/wazirx.md
        - WhiteBit: exchanges/whitebit.md
      - Perpetual Futures Markets:
        - Perpetual Futures Markets: exchanges/perp/index.md
        - Binance Futures: exchanges/binance-perpetual.md
        - Bitget Perpetual: exchanges/bitget-perpetual.md
        - Bybit: exchanges/bybit-perpetual.md
        - Bitmex: exchanges/bitmex-perpetual.md
        - CoinFLEX: exchanges/coinflex-perpetual.md
        - dYdX: exchanges/dydx-perpetual.md
        - Gate.io: exchanges/gate-io-perpetual.md
      - Exchange Connector Doc Template: exchanges/connector-template.md
    - Gateway Connectors:
      - Gateway Connectors: gateway/index.md
      - Setting up Gateway: gateway/setup.md
      - History: gateway/history.md
      - Exchanges:
        - Exchanges: gateway/exchanges/index.md
        - Uniswap and UniswapLP: gateway/exchanges/uniswap.md
        - Pangolin: gateway/exchanges/pangolin.md
        - Quickswap: gateway/exchanges/quickswap.md
        - MM Finance: gateway/exchanges/mm-finance.md
        - TraderJoe: gateway/exchanges/traderjoe.md
        - Perpetual Protocol: gateway/exchanges/perp.md
        - Ref Finance: gateway/exchanges/ref-finance.md
        # - Serum: gateway/exchanges/serum.md
        - Sushiswap: gateway/exchanges/sushiswap.md
        - OpenOcean: gateway/exchanges/openocean.md
        - Pancakeswap: gateway/exchanges/pancakeswap.md
        - DeFi Kingdoms: gateway/exchanges/defikingdoms.md
        - Defira: gateway/exchanges/defira.md
        - VVS Finance: gateway/exchanges/vvs-finance.md
      - Chains:
        - Avalanche: gateway/chains/avalanche.md
        - BNB Chain: gateway/chains/bnb-chain.md
        - Cronos: gateway/chains/cronos.md
        - Ethereum: gateway/chains/ethereum.md
        - Harmony: gateway/chains/harmony.md
        - NEAR: gateway/chains/near.md
        - Polygon: gateway/chains/polygon.md
        # - Solana: gateway/chains/solana.md
    - Global Configs:
      - Global Configs: global-configs/index.md
      - Balance Limit: global-configs/balance-limit.md
      - Clock Tick Size: global-configs/clock-tick.md 
      - Color Settings: global-configs/color-settings.md
      - Kill Switch: global-configs/kill-switch.md
      - Override Fees: global-configs/override-fees.md
      - Paper Trade: global-configs/paper-trade.md
      - Rate Limits Share Pct: global-configs/rate-limits-share-pct.md
      - Telegram Integration: global-configs/telegram.md
      - Strategy Autostart: global-configs/strategy-autostart.md
      - Connect External Database: global-configs/external-db.md
    - Strategy Configs:
      - Strategy Configs: strategy-configs/index.md
      - Add Transaction Costs: strategy-configs/add-transaction-costs.md
      - Order Levels: strategy-configs/order-levels.md
      - Filled Order Delay: strategy-configs/filled-order-delay.md
      - Hanging Orders: strategy-configs/hanging-orders.md
      - Minimum Spread: strategy-configs/minimum-spread.md
      - Order Refresh Tolerance: strategy-configs/order-refresh-tolerance.md
      - Order Optimization: strategy-configs/order-optimization.md
      - Inventory Skew: strategy-configs/inventory-skew.md
      - Max Order Age: strategy-configs/max-order-age.md
      - Order Override: strategy-configs/order-override.md
      - Price Band: strategy-configs/price-band.md
      - Price Source: strategy-configs/external-price-source.md
      - Ping Pong: strategy-configs/ping-pong.md
      - Rate Oracle: strategy-configs/rate-oracle.md
    - FAQ: faq.md
    - Troubleshooting: troubleshooting.md
    - Glossary: glossary.md
    - ❤️ Support Hummingbot!: support-hummingbot.md
  - Developer Docs:
      - Developer Docs: developers/index.md
      - Contribution Guidelines: developers/contributions.md
      - Architecture: developers/architecture.md
      - Exchange Connectors:
        - Developing Connectors: developers/connectors/index.md
        - Architecture:
          - Connector Architecture: developers/connectors/architecture/index.md
          - Order Lifecycle and Market Events: developers/connectors/architecture/order_lifecycle.md
          - API Throttler: developers/connectors/architecture/api_throttler.md
        - Build Process: developers/connectors/build.md
        - QA Testing Process: developers/connectors/test.md
        - Debugging: developers/connectors/debug.md
      - Gateway Connectors:
        - Gateway Connectors: developers/gateway/index.md
        - Setting up Gateway for Developers: developers/gateway/setup.md
        - Testing Gateway: developers/gateway/testing.md
        - Gateway API Interfaces: developers/gateway/api-interface.md
        - Building Gateway Connectors: developers/gateway/building-gateway-connectors.md
        - Running AMM-ARB with Gateway: developers/gateway/running-amm-arb.md
      - Strategies:
        - Developing Strategies: developers/strategies/index.md
        - Architecture: developers/strategies/architecture.md
        - Tutorial: developers/strategies/tutorial.md
        - Key Concepts: developers/strategies/key-concepts.md
        - Define Configs: developers/strategies/config.md
        - Hanging Orders Tracker: developers/strategies/hanging-orders.md
      - Debug Console: developers/debug.md
      - Adding Commands: developers/commands.md
  - About the Foundation:
    - About the Foundation: about/index.md
    - HBOT: hbot.md
    - Community: community.md
    - Reporting: reporting.md
    - Governance:
      - Governance: governance/index.md
      - Whitepaper: governance/whitepaper.md
      - Proposals: governance/proposals.md
      - Bounties: governance/bounties.md
      - Releases: governance/releases.md
      - Epochs: governance/epochs.md
      - Exchange Certification: governance/certification.md
      - Hackathons: governance/hackathons.md
    - News & Updates:
      - News & Updates: news/index.md
      - Hummingbot Foundation Roadmap 2022: news/roadmap-2022.md
      - Hummingbot 1.0 and HBOT Distribution Plan: news/hummingbot-1-0.md
      - Introducing HBOT: news/hbot.md
      - Introducing the Hummingbot Foundation: news/foundation.md
      - How does market making work?: news/market-making.md
  - Releases:
    - Releases: release-notes/index.md
    - 1.10.0: release-notes/1.10.0.md
    - 1.9.0: release-notes/1.9.0.md
    - 1.8.0: release-notes/1.8.0.md
    - 1.7.0: release-notes/1.7.0.md
    - 1.6.0: release-notes/1.6.0.md
    - 1.5.0: release-notes/1.5.0.md
    - 1.4.0: release-notes/1.4.0.md
    - 1.3.0: release-notes/1.3.0.md
    - 1.2.0: release-notes/1.2.0.md
    - 1.1.1: release-notes/1.1.1.md
    - 1.1.0: release-notes/1.1.0.md
    - 1.0.1: release-notes/1.0.1.md
    - 1.0.0: release-notes/1.0.0.md
    - 0.46.0: release-notes/0.46.0.md
    - 0.45.0: release-notes/0.45.0.md
    - 0.44.0: release-notes/0.44.0.md
    - 0.43.1: release-notes/0.43.1.md
    - 0.43.0: release-notes/0.43.0.md
    - 0.42.0: release-notes/0.42.0.md
    - 0.41.0: release-notes/0.41.0.md
    - 0.40.0: release-notes/0.40.0.md
    - 0.39.1: release-notes/0.39.1.md
    - 0.39.0: release-notes/0.39.0.md
    - 0.38.1: release-notes/0.38.1.md
    - 0.38.0: release-notes/0.38.0.md
    - 0.37.1: release-notes/0.37.1.md
    - 0.37.0: release-notes/0.37.0.md
    - 0.36.0: release-notes/0.36.0.md
    - 0.35.0: release-notes/0.35.0.md
    - 0.34.0: release-notes/0.34.0.md
    - 0.33.1: release-notes/0.33.1.md
    - 0.33.0: release-notes/0.33.0.md
    - 0.32.0: release-notes/0.32.0.md
    - 0.31.0: release-notes/0.31.0.md
    - 0.30.0: release-notes/0.30.0.md
    - 0.29.0: release-notes/0.29.0.md
    - 0.28.1: release-notes/0.28.1.md
    - 0.28.0: release-notes/0.28.0.md
    - 0.27.0: release-notes/0.27.0.md
    - 0.26.1: release-notes/0.26.1.md
    - 0.26.0: release-notes/0.26.0.md
    - 0.25.0: release-notes/0.25.0.md
    - 0.24.1: release-notes/0.24.1.md
    - 0.24.0: release-notes/0.24.0.md
    - 0.23.0: release-notes/0.23.0.md
    - 0.22.0: release-notes/0.22.0.md
    - 0.21.0: release-notes/0.21.0.md
    - 0.20.0: release-notes/0.20.0.md
    - 0.19.1: release-notes/0.19.1.md
    - 0.19.0: release-notes/0.19.0.md
    - 0.18.1: release-notes/0.18.1.md
    - 0.18.0: release-notes/0.18.0.md
    - 0.17.1: release-notes/0.17.1.md
    - 0.17.0: release-notes/0.17.0.md
    - 0.16.0: release-notes/0.16.0.md
    - 0.15.0: release-notes/0.15.0.md
    - 0.14.0: release-notes/0.14.0.md
    - 0.13.0: release-notes/0.13.0.md
    - 0.12.1: release-notes/0.12.1.md
    - 0.12.0: release-notes/0.12.0.md
    - 0.11.1: release-notes/0.11.1.md
    - 0.11.0: release-notes/0.11.0.md
    - 0.10.1: release-notes/0.10.1.md
    - 0.10.0: release-notes/0.10.0.md
    - 0.9.1: release-notes/0.9.1.md
    - 0.9.0: release-notes/0.9.0.md
    - 0.8.1: release-notes/0.8.1.md
    - 0.8.0: release-notes/0.8.0.md
    - 0.7.0: release-notes/0.7.0.md
    - 0.6.0: release-notes/0.6.0.md
    - 0.5.1: release-notes/0.5.1.md
    - 0.5.0: release-notes/0.5.0.md
    - 0.4.0: release-notes/0.4.0.md
    - 0.3.1: release-notes/0.3.1.md
    - 0.3.0: release-notes/0.3.0.md
    - 0.2.0: release-notes/0.2.0.md