# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Project info
site_name: Hummingbot Foundation
site_description: The official website and documentation site for the Hummingbot Foundation
site_author: Hummingbot Foundation
site_url: https://hummingbot.org

# Repository
repo_name: 'hummingbot/hummingbot'
repo_url: 'https://github.com/hummingbot/hummingbot'
edit_uri: 'https://github.com/hummingbot/hummingbot-site/blob/master/docs/'

# Copyright
copyright: Copyright &copy; 2021 Hummingbot Foundation

# Configuration
theme:
  name: material
  logo: assets/img/logo.png
  favicon: assets/img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: cyan
      accent: purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: purple
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
      text: Roboto
      code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top

plugins:
  - search
  - tags
  - git-revision-date
  - social:
      cards_color:
        fill: rgb(40, 47, 56)
        text: white

extra:
  homepage: https://hummingbot.org
  generator: false
  analytics:
    provider: google
    property: UA-119262087-3
  social:
    - icon: fontawesome/solid/envelope
      link: https://hummingbot.substack.com
    - icon: fontawesome/brands/discord
      link: https://discord.hummingbot.io
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/hummingbot_org
    - icon: fontawesome/brands/github
      link: https://github.com/hummingbot/hummingbot
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/coinalpha/hummingbot

extra_css:
  - assets/css/custom.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - assets/js/tables.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - assets/js/config.js
  # - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      user: hummingbot
      repo: hummingbot
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
      permalink: true

# Navigation
nav:
  - Home:
    - Home: index.md
    - About: about.md
    - FAQ: faq.md
    - HBOT: hbot.md
    - Community: community.md
    - Reporting: 
      - Reporting: reporting/index.md
    - Maintenance:
      - Maintenance: maintenance/index.md
      - Active Agreements: maintenance/agreements.md
      - Active Maintainers: maintenance/maintainers.md
    - Governance:
      - Governance: governance/index.md
      - Whitepaper: governance/whitepaper.md
      - Proposals: 
        - Proposals: governance/proposals/index.md
        - Pull Request Proposals (PRP): governance/proposals/prp.md
        - Hummingbot Improvement Proposals (HIP): governance/proposals/hip.md
        - Hummingbot Governance Proposals (HGP): governance/proposals/hgp.md
      - Active Governance Proposals: governance/active.md
      - Epochs:
        - Epochs: governance/epochs/index.md
        - Epoch 1: governance/epochs/epoch1.md
        - Epoch 2: governance/epochs/epoch2.md
    - News & Updates:
      - News & Updates: news/index.md
      - Hummingbot 1.0 and HBOT Distribution Plan: news/hummingbot-1-0.md
      - Introducing HBOT: news/hbot.md
      - Introducing the Hummingbot Foundation: news/foundation.md
      - How does market making work?: news/market-making.md
  - Documentation:
    - Documentation: docs.md
    - Installation:
      - Installation: installation/index.md
      - Docker: installation/docker.md
      - Source: installation/source.md
      - Raspberry Pi: installation/raspberry-pi.md
      - Run in the Cloud: installation/cloud-servers.md
      - Run Multiple Bots: installation/multiple-bots.md
      - Update and Restore Hummingbot: installation/update-hummingbot.md
    - Basic Operations:
      - Basic Operations: operation/index.md
      - Commands and Shortcuts: operation/commands-shortcuts.md
      - User Interface Guide: operation/user-interface.md
      - Launch/Exit Hummingbot: operation/launch-exit.md
      - Create/Delete Password: operation/password.md
      - Connect Exchange API Keys: operation/connect.md
      - Check Balances: operation/balance.md
      - Create/Import Config Files: operation/config-files.md
      - Start/Stop Strategy: operation/start-stop.md
      - Pause/Resume Strategy: operation/pause-resume.md
      - Check Bot/Market Status: operation/status.md
      - Check Performance: operation/history.md
      - Find Log Files: operation/log-files.md
      - Export Trades/Keys: operation/export.md
    - Strategies:
      - Strategies: strategies/index.md
      - AMM Arbitrage: strategies/amm-arbitrage.md
      - Arbitrage: strategies/arbitrage.md
      - Aroon Oscillator: strategies/aroon-oscillator.md
      - Avellaneda Market Making: strategies/avellaneda-market-making.md
      - Celo Arbitrage: strategies/celo-arbitrage.md
      - Cross-Exchange Market Making: strategies/cross-exchange-market-making.md
      - Hedge: strategies/hedge.md
      - Liquidity Mining: strategies/liquidity-mining.md
      - Perpetual Market Making: strategies/perpetual-market-making.md
      - Pure Market Making: strategies/pure-market-making.md
      - Spot Perpetual Arbitrage: strategies/spot-perpetual-arbitrage.md
      - Uniswap-v3 LP: strategies/uniswap-v3-lp.md
      - TWAP: strategies/twap.md
    - Exchange Connectors:
      - Exchange Connectors: exchanges/index.md
      - Spot:
        - Spot: exchanges/spot/index.md
        - AltMarkets: exchanges/altmarkets.md
        - AscendEX: exchanges/ascend-ex.md
        - Balancer: exchanges/balancer.md
        - Beaxy: exchanges/beaxy.md
        - Binance: exchanges/binance.md
        - Binance US: exchanges/binance-us.md
        - Bitfinex: exchanges/bitfinex.md
        - BitMart: exchanges/bitmart.md
        - Bittrex Global: exchanges/bittrex.md
        - Blocktane: exchanges/blocktane.md
        - Coinbase Pro: exchanges/coinbase.md
        - CoinZoom: exchanges/coinzoom.md
        - Crypto.com : exchanges/crypto-com.md
        - Digifinex: exchanges/digifinex.md
        - FTX: exchanges/ftx.md
        - Gate.io: exchanges/gate-io.md
        - Himalaya: exchanges/himalaya.md
        - HitBTC: exchanges/hitbtc.md
        - Huobi Global: exchanges/huobi.md
        - KuCoin: exchanges/kucoin.md
        - Kraken: exchanges/kraken.md
        - Liquid: exchanges/liquid.md
        - Loopring: exchanges/loopring.md
        - MEXC: exchanges/mexc.md 
        - NDAX: exchanges/ndax.md
        - OKX: exchanges/okx.md
        - ProBit Global: exchanges/probit.md
        - ProBit Korea: exchanges/probit-korea.md
        - WazirX: exchanges/wazirx.md
      - Perp:
        - Perp: exchanges/perp/index.md
        - Binance Futures: exchanges/binance-perpetual.md
        - Bybit: exchanges/bybit-perpetual.md
        - dYdX: exchanges/dydx-perpetual.md
      - AMM:
        - AMM: exchanges/amm/index.md
        - Uniswap: exchanges/uniswap.md
        - Pangolin: exchanges/pangolin.md
    - Gateway:
      - Gateway: gateway/index.md  
      - Ethereum: gateway/ethereum.md
      - Avalanche: gateway/avalanche.md
      - Harmony: gateway/harmony.md
      - Solana: gateway/solana.md
    - Global Configs:
      - Global Configs: global-configs/index.md
      - Balance Limit: global-configs/balance-limit.md
      - Color Settings: global-configs/color-settings.md
      - External Database: global-configs/external-db.md
      - Kill Switch: global-configs/kill-switch.md
      - Override Fees: global-configs/override-fees.md
      - Paper Trade: global-configs/paper-trade.md
      - Rate Limits Share Pct: global-configs/rate-limits-share-pct.md
      - Telegram Integration: global-configs/telegram.md
      - Strategy Autostart: global-configs/strategy-autostart.md
      - Connect External Database: global-configs/external-db.md
    - Strategy Configs:
      - Strategy Configs: strategy-configs/index.md
      - Add Transaction Costs: strategy-configs/add-transaction-costs.md
      - Order Levels: strategy-configs/order-levels.md
      - Filled Order Delay: strategy-configs/filled-order-delay.md
      - Hanging Orders: strategy-configs/hanging-orders.md
      - Minimum Spread: strategy-configs/minimum-spread.md
      - Order Refresh Tolerance: strategy-configs/order-refresh-tolerance.md
      - Order Optimization: strategy-configs/order-optimization.md
      - Inventory Skew: strategy-configs/inventory-skew.md
      - Max Order Age: strategy-configs/max-order-age.md
      - Order Override: strategy-configs/order-override.md
      - Price Band: strategy-configs/price-band.md
      - Price Source: strategy-configs/external-price-source.md
      - Ping Pong: strategy-configs/ping-pong.md
      - Rate Oracle: strategy-configs/rate-oracle.md
    - Troubleshooting: troubleshooting.md
    - Glossary: glossary.md
  - Developers:
      - Developers: developers/index.md
      - Contribution Guidelines: developers/contributions.md
      - Architecture: developers/architecture.md
      - Gateway: developers/gateway.md
      - Connectors:
        - Developing Connectors: developers/connectors/index.md
        - Architecture:
          - Connector Architecture: developers/connectors/architecture/index.md
          - Order Lifecycle and Market Events: developers/connectors/architecture/order_lifecycle.md
          - API Throttler: developers/connectors/architecture/api_throttler.md
        - Build Process: developers/connectors/build.md
        - QA Testing Process: developers/connectors/test.md
        - Debugging: developers/connectors/debug.md
      - Strategies:
        - Developing Strategies: developers/strategies/index.md
        - Architecture: developers/strategies/architecture.md
        - Tutorial: developers/strategies/tutorial.md
        - Key Concepts: developers/strategies/key-concepts.md
        - Define Configs: developers/strategies/config.md
        - Hanging Orders Tracker: developers/strategies/hanging-orders.md
      - Scripts:
        - Scripts: developers/scripts/index.md
        - Script Base Class: developers/scripts/script-base.md
      - Debug Console: developers/debug.md
  - Releases:
    - Releases: release-notes/index.md
    - 1.2.0: release-notes/1.2.0.md
    - 1.1.1: release-notes/1.1.1.md
    - 1.1.0: release-notes/1.1.0.md
    - 1.0.1: release-notes/1.0.1.md
    - 1.0.0: release-notes/1.0.0.md
    - 0.46.0: release-notes/0.46.0.md
    - 0.45.0: release-notes/0.45.0.md
    - 0.44.0: release-notes/0.44.0.md
    - 0.43.1: release-notes/0.43.1.md
    - 0.43.0: release-notes/0.43.0.md
    - 0.42.0: release-notes/0.42.0.md
    - 0.41.0: release-notes/0.41.0.md
    - 0.40.0: release-notes/0.40.0.md
    - 0.39.1: release-notes/0.39.1.md
    - 0.39.0: release-notes/0.39.0.md
    - 0.38.1: release-notes/0.38.1.md
    - 0.38.0: release-notes/0.38.0.md
    - 0.37.1: release-notes/0.37.1.md
    - 0.37.0: release-notes/0.37.0.md
    - 0.36.0: release-notes/0.36.0.md
    - 0.35.0: release-notes/0.35.0.md
    - 0.34.0: release-notes/0.34.0.md
    - 0.33.1: release-notes/0.33.1.md
    - 0.33.0: release-notes/0.33.0.md
    - 0.32.0: release-notes/0.32.0.md
    - 0.31.0: release-notes/0.31.0.md
    - 0.30.0: release-notes/0.30.0.md
    - 0.29.0: release-notes/0.29.0.md
    - 0.28.1: release-notes/0.28.1.md
    - 0.28.0: release-notes/0.28.0.md
    - 0.27.0: release-notes/0.27.0.md
    - 0.26.1: release-notes/0.26.1.md
    - 0.26.0: release-notes/0.26.0.md
    - 0.25.0: release-notes/0.25.0.md
    - 0.24.1: release-notes/0.24.1.md
    - 0.24.0: release-notes/0.24.0.md
    - 0.23.0: release-notes/0.23.0.md
    - 0.22.0: release-notes/0.22.0.md
    - 0.21.0: release-notes/0.21.0.md
    - 0.20.0: release-notes/0.20.0.md
    - 0.19.1: release-notes/0.19.1.md
    - 0.19.0: release-notes/0.19.0.md
    - 0.18.1: release-notes/0.18.1.md
    - 0.18.0: release-notes/0.18.0.md
    - 0.17.1: release-notes/0.17.1.md
    - 0.17.0: release-notes/0.17.0.md
    - 0.16.0: release-notes/0.16.0.md
    - 0.15.0: release-notes/0.15.0.md
    - 0.14.0: release-notes/0.14.0.md
    - 0.13.0: release-notes/0.13.0.md
    - 0.12.1: release-notes/0.12.1.md
    - 0.12.0: release-notes/0.12.0.md
    - 0.11.1: release-notes/0.11.1.md
    - 0.11.0: release-notes/0.11.0.md
    - 0.10.1: release-notes/0.10.1.md
    - 0.10.0: release-notes/0.10.0.md
    - 0.9.1: release-notes/0.9.1.md
    - 0.9.0: release-notes/0.9.0.md
    - 0.8.1: release-notes/0.8.1.md
    - 0.8.0: release-notes/0.8.0.md
    - 0.7.0: release-notes/0.7.0.md
    - 0.6.0: release-notes/0.6.0.md
    - 0.5.1: release-notes/0.5.1.md
    - 0.5.0: release-notes/0.5.0.md
    - 0.4.0: release-notes/0.4.0.md
    - 0.3.1: release-notes/0.3.1.md
    - 0.3.0: release-notes/0.3.0.md
    - 0.2.0: release-notes/0.2.0.md
